.container{
    margin-top: 50px;
}

.form-group, label{
    margin-right: 10px;
}

form, table {
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-action{
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-action i {
    margin-right: 5px;
    cursor: pointer; 
}

.alert{
    width: 50%;
    margin: 0 auto;
}

table a{
    color: black;
    text-decoration: none;
}

table a:hover{
    color: #999;
    text-decoration: none;
}

.finish_btn {
    color: red;
}

.finished{
    color: green;
}